.weather-app {
        border: 1px solid darkgray;
    padding: 50px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 60%;
    height: 95vh;
}

ul{
    list-style: none;
}

.search-form{
        margin-bottom: 20px;
}

.form-control{
    width:75%;
}

.form-control-two{
    width:25%;
}
.clouds{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    top:-20px;
    position: relative;
}

.current-weather{
    margin:20px;
}

a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.units{
position:relative;
top:-10px;
left:-100px;
right:-35px;
}


.weather-items{
    padding:0px;
}
.weather-details{
    position: relative;
    top: -15px;
    left: -130px;
    right: 35px;
    margin:0 auto;
    width:50%;
}
.temperature{
    font-size: 40px;
}

.weather-current-day-info{
   margin:5px;
   
}

.weather-forecast{
    margin-top:20px;
    text-align: center;
}

.weather-forecast-date{
    font-size: 16px;
    opacity:0.6;
}

.weather-forecast-temperatures-min{
    opacity:0.5;
}

footer{
    text-align: center;
}

 .active{
    color:black;
    cursor: default;
}

.units:hover{
    text-decoration: none;
}
.coder{
    color:blue;
}